<% if(contentCode == "home"){%>
<h2>Welcome to OmegU, <%=name%></h2>
<hr />

<script>
  function alertFunction() {
    location.href = "/dashboard/home";
    alert("I am an alert box!");
  }
</script>

<div class="container">
  <div class="row">
    <div class="intro col-12">
      <h1>Interests</h1>
      <div>
        <div class="border1"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="helpText col-12" style="justify-content: center;">
      <p>
        Please enter your interests so we can match you with other students with
        similar interests!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <input
        id="userInput"
        type="text"
        placeholder="New item..."
        maxlength="27"
      />
      <button id="enter"><i class="fas fa-pencil-alt"></i></button>
    </div>
  </div>

  <!-- Empty List -->
  <div class="row">
    <div class="listItems col-12">
      <ul class="col-12 offset-0 col-sm-8 offset-sm-2" id="customUl"></ul>
    </div>
  </div>

  <div style="text-align: center;">
    <div style="display: inline-block;">
      <div style="text-align: left;">
        <button
          type="button"
          class="button"
          style="
            background-color: #31343b;
            border: none;
            border-radius: 8px;
            color: white;
            padding: 10px;
            margin-top: 20px;
          "
        >
          Start Chatting!
        </button>
      </div>
    </div>
  </div>
  <%} else if(contentCode == "profile"){%>

  <div
    class="container"
    style="text-align: center; padding-bottom: 30px; padding-top: 30px;"
  >
    <h2><%=name%>'s profile</h2>
  </div>

  <div
    class="container"
    style="text-align: center; display: inline-block; text-align: left;"
  >
    <div class="row">
      <div class="col">
        <label style="color: black;">Name</label> <br />
        <input
          type="text"
          placeHolder="<%=name%>"
          id="name"
          name="name"
          readonly
        />
      </div>
      <div class="col">
        <label style="color: black;">Email</label> <br />
        <input
          type="text"
          placeHolder="<%=email%>"
          id="email"
          name="Email"
          readonly
        />
      </div>
    </div>
    <div class="row" style="margin-top: 2rem;">
      <div class="col">
        <label style="color: black;">University</label> <br />
        <input
          type="text"
          placeHolder="University of Waterloo"
          id="university"
          name="university"
          readonly
        />
      </div>
      <!-- <div class="col">
        <label style="color: black;">University</label> <br />
        <select id="university" name="university" style="width: 92%;">
          <option value="University of Waterloo">University of Waterloo</option>
          <option value="University of Waterloo">University of Ottawa</option>
          <option value="University of Waterloo">Queen's University</option>
          <option value="University of Waterloo">University of Toronto</option>
          <option value="University of Waterloo">Carleton Univsersity</option>
        </select>
      </div> -->
      <div class="col">
        <label style="color: black;">Faculty</label> <br />
        <select id="faculty" name="faculty" style="width: 92%;">
          <option value="Faculty of Applied Health Sciences">Faculty of Applied Health Sciences</option>
          <option value="Faculty of Arts">Faculty of Arts</option>
          <option value="Faculty of Engineering">Faculty of Engineering</option>
          <option value="Faculty of Environment">Faculty of Environment</option>
          <option value="Faculty of Mathematics">Faculty of Mathematics</option>
          <option value="Faculty of Science">Faculty of Science</option>
        </select>
      </div>
    </div>
    <div class="row" style="margin-top: 2rem;">
      <div class="col">
        <label style="color: black;">Program</label> <br />
        <select id="program" name="program" style="width: 92%;">

          <!--Applied health sci programs-->
          <!-- <option value="placeholder">Health Studies</option> -->
          <!-- <option value="placeholder">Kinesiology</option> -->
          <!-- <option value="placeholder">Public Health</option> -->
          <!-- <option value="placeholder">Recreation and Leisure Studies</option> -->

          <!--Arts programs-->
          <!-- <option value="placeholder">Honours Arts</option> -->
          <!-- <option value="placeholder">Honours Arts and Business</option> -->
          <!-- <option value="placeholder">Global Business and Digital Arts</option> -->
          <!-- <option value="placeholder">Social Development Studies</option> -->
          <!-- <option value="placeholder">Accounting and Financial Management</option> -->
          <!-- <option value="placeholder">Computing and Financial Management</option> -->

          <!--Engineering programs-->
          <!-- <option value="placeholder">Architectural Engineering</option> -->
          <!-- <option value="placeholder">Architecture</option> -->
          <!-- <option value="placeholder">Biomedical Engineering</option> -->
          <!-- <option value="placeholder">Chemical Engineering</option> -->
          <!-- <option value="placeholder">Civil Engineering</option> -->
          <!-- <option value="placeholder">Computer Engineering</option> -->
          <!-- <option value="placeholder">Electrical Engineering</option> -->
          <!-- <option value="placeholder">Environmental Engineering</option> -->
          <!-- <option value="placeholder">Geological Engineering</option> -->
          <!-- <option value="placeholder">Management Engineering</option> -->
          <!-- <option value="placeholder">Mechanical Engineering</option> -->
          <!-- <option value="placeholder">Mechatronics Engineering</option> -->
          <!-- <option value="placeholder">Nanotechnology Engineering</option> -->
          <!-- <option value="placeholder">Software Engineering</option> -->
          <!-- <option value="placeholder">Systems Design Engineering</option> -->


          <!--Environment Programs-->
          <!-- <option value="placeholder">Environment and Business</option> -->
          <!-- <option value="placeholder">Environment, Resources and Sustainability</option> -->
          <!-- <option value="placeholder">Geography and Aviation</option> -->
          <!-- <option value="placeholder">Geography and Environmental Management</option> -->
          <!-- <option value="placeholder">Geomatics</option> -->
          <!-- <option value="placeholder">International Development</option> -->
          <!-- <option value="placeholder">Knowledge Integration</option> -->
          <!-- <option value="placeholder">Planning</option> -->


          <!--Math Programs-->
          <!-- <option value="placeholder">Business Administration and Computer Science Double Degree</option> -->
          <!-- <option value="placeholder">Business Administration and Mathematics Double Degree</option> -->
          <!-- <option value="placeholder">Computer Science</option> -->
          <!-- <option value="placeholder">Computing and Financial Management</option> -->
          <!-- <option value="placeholder">Honours Mathematics</option> -->
          <!-- <option value="placeholder">Mathematics/Business Administration</option> -->
          <!-- <option value="placeholder">Mathematics/Chartered Professional Accountancy</option> -->
          <!-- <option value="placeholder">Mathematics/Financial Analysis and Risk Management</option> -->

          <!--Honours Math Majors-->
          <!--
            <option value="placeholder">Actuarial Science</option>
            <option value="placeholder">Applied Mathematics</option>
            <option value="placeholder">Biostatistics</option>
            <option value="placeholder">Combinatorics and Optimization</option>
            <option value="placeholder">Computational Mathematics</option>
            <option value="placeholder">Data Science (BCS)</option>
            <option value="placeholder">Data Science (BMath)</option>
            <option value="placeholder">Mathematical Economics</option>
            <option value="placeholder">Mathematical Finance</option>
            <option value="placeholder">Mathematical Optimization</option>
            <option value="placeholder">Mathematical Physics</option>
            <option value="placeholder">Mathematical Studies</option>
            <option value="placeholder">Mathematics/Teaching</option>
            <option value="placeholder">Pure Mathematics</option>
            <option value="placeholder">Statistics</option>
          -->

          <!--Science Programs-->
          <!-- <option value="placeholder">Biochemistry</option> -->
          <!-- <option value="placeholder">Biology</option> -->
          <!-- <option value="placeholder">Biotechnology/Chartered Professional Accountancy</option> -->
          <!-- <option value="placeholder">Biotechnology/Economics</option> -->
          <!-- <option value="placeholder">Chemistry</option> -->
          <!-- <option value="placeholder">Conditional Admission to Pharmacy</option> -->
          <!-- <option value="placeholder">Earth Sciences</option> -->
          <!-- <option value="placeholder">Environmental Science</option> -->
          <!-- <option value="placeholder">Honours Science</option> -->
          <!-- <option value="placeholder">Life Physics</option> -->
          <!-- <option value="placeholder">Materials and Nanosciences</option> -->
          <!-- <option value="placeholder">Mathematical Physics</option> -->
          <!-- <option value="placeholder">Medicinal Chemistry</option> -->
          <!-- <option value="placeholder">Physics</option> -->
          <!-- <option value="placeholder">Physics and Astronomy</option> -->
          <!-- <option value="placeholder">Psychology</option> -->
          <!-- <option value="placeholder">Science and Aviation</option> -->
          <!-- <option value="placeholder">Science and Business</option> -->


        </select>
      </div>
      <div class="col">
        <label style="color: black;">Graduating Year</label> <br />
        <select id="year" name="year" style="width: 92%;">
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
        </select>
      </div>
    </div>
  </div>

  <button
    type="button"
    class="button"
    id="save"
    style="
      background-color: #31343b;
      border: none;
      border-radius: 8px;
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 40px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 18px;
    ">
    Save
  </button>

  <%} else {%>

  <h2>Welcome to OmegU, <%=name%></h2>
  <hr />

  <div class="container">
    <div class="row">
      <div class="intro col-12">
        <h1>Interests</h1>
        <div>
          <div class="border1"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="helpText col-12" style="justify-content: center;">
        <p>
          Please enter your interests so we can match you with other students
          with similar interests!
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <input
          id="userInput"
          type="text"
          placeholder="New item..."
          maxlength="27"
        />
        <button id="enter"><i class="fas fa-pencil-alt"></i></button>
      </div>
    </div>

    <!-- Empty List -->
    <div class="row">
      <div class="listItems col-12">
        <ul class="col-12 offset-0 col-sm-8 offset-sm-2" id="customUl"></ul>
      </div>
    </div>
    <div style="text-align: center;">
      <div style="display: inline-block;">
        <div style="text-align: left;">
          <button
            type="button"
            class="button"
            style="
              background-color: #31343b;
              border: none;
              border-radius: 8px;
              color: white;
              padding: 10px;
              margin-top: 20px;
            "
            onclick="window.location.href='https://omeguu.herokuapp.com/?room=d4a-7g4-v2m'"
          >
            Start Chatting!
          </button>
        </div>
      </div>
    </div>
    <%}%>
  </div>
</div>

